language: python
sudo: false
os:
  - linux
python:
  - 3.6
  - 3.6-dev
install:
  - pip install -e .[ci_test,doc]
script:
  - pytest
#  - sphinx-build docs/source docs/build -W
after_success:
    - codecov
