language: python
sudo: false
os:
  - linux
dist: xenial
python:
  - 3.5
  - 3.6
  - 3.7
install:
  - pip install -e .[ci_test,doc]
script:
  - pytest
  - sphinx-build docs/source docs/build #-W
after_success:
    - codecov
